
.icon-ok-outline:before { content: '\e800'; } /* '' */
.icon-cancel-outline:before { content: '\e801'; } /* '' */
.icon-floppy:before { content: '\e802'; } /* '' */
.icon-cancel-alt:before { content: '\e803'; } /* '' */
.icon-news:before { content: '\e804'; } /* '' */
.icon-exchange:before { content: '\e805'; } /* '' */
.icon-cw:before { content: '\e806'; } /* '' */
.icon-tag:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-user-add-outline:before { content: '\e80a'; } /* '' */
.icon-shuffle:before { content: '\e80b'; } /* '' */
.icon-star:before { content: '\e80c'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e80d'; } /* '' */
.icon-paper-plane:before { content: '\e80e'; } /* '' */
.icon-cloud-sun:before { content: '\e80f'; } /* '' */
.icon-doc-add:before { content: '\e810'; } /* '' */
.icon-edit:before { content: '\e811'; } /* '' */
.icon-trash:before { content: '\e812'; } /* '' */
.icon-gift:before { content: '\e813'; } /* '' */
.icon-chart:before { content: '\e814'; } /* '' */
.icon-chart-pie-outline:before { content: '\e815'; } /* '' */
.icon-waves:before { content: '\e816'; } /* '' */
.icon-plug:before { content: '\e817'; } /* '' */
.icon-left-outline:before { content: '\e818'; } /* '' */
.icon-right-outline:before { content: '\e819'; } /* '' */
.icon-down-outline:before { content: '\e81a'; } /* '' */
.icon-up-outline:before { content: '\e81b'; } /* '' */
.icon-eject:before { content: '\e81c'; } /* '' */
.icon-down-open:before { content: '\e81d'; } /* '' */
.icon-left-open:before { content: '\e81e'; } /* '' */
.icon-anchor-outline:before { content: '\e81f'; } /* '' */
.icon-users-outline:before { content: '\e820'; } /* '' */
.icon-contacts:before { content: '\e821'; } /* '' */
.icon-basket:before { content: '\e822'; } /* '' */
.icon-doc-text:before { content: '\e823'; } /* '' */
.icon-calculator:before { content: '\e824'; } /* '' */
.icon-award:before { content: '\e825'; } /* '' */
.icon-right-open:before { content: '\e826'; } /* '' */
.icon-key-outline:before { content: '\e827'; } /* '' */
.icon-sun:before { content: '\e828'; } /* '' */
.icon-loop-alt:before { content: '\e829'; } /* '' */
.icon-loop:before { content: '\e82a'; } /* '' */
.icon-resize-full:before { content: '\e82b'; } /* '' */
.icon-list:before { content: '\e82c'; } /* '' */
.icon-wechat:before { content: '\e82d'; } /* '' */
.icon-linux:before { content: '\e82e'; } /* '' */
.icon-extinguisher:before { content: '\e82f'; } /* '' */
.icon-money:before { content: '\e830'; } /* '' */
.icon-credit-card:before { content: '\e831'; } /* '' */
.icon-scissors:before { content: '\e832'; } /* '' */
.icon-off:before { content: '\e833'; } /* '' */
.icon-barcode:before { content: '\e834'; } /* '' */
.icon-paper-plane-empty:before { content: '\e835'; } /* '' */
.icon-history:before { content: '\e836'; } /* '' */
.icon-coffee:before { content: '\e837'; } /* '' */
.icon-food:before { content: '\e838'; } /* '' */
.icon-ambulance:before { content: '\e839'; } /* '' */
.icon-print:before { content: '\e83a'; } /* '' */
.icon-doc:before { content: '\e83b'; } /* '' */
.icon-th-outline:before { content: '\e83c'; } /* '' */
.icon-camera-outline:before { content: '\e83d'; } /* '' */
.icon-plus-outline:before { content: '\e83e'; } /* '' */
.icon-minus-outline:before { content: '\e83f'; } /* '' */
.icon-info-outline:before { content: '\e840'; } /* '' */
.icon-home-outline:before { content: '\e841'; } /* '' */
.icon-download-outline:before { content: '\e842'; } /* '' */
.icon-sort-name-up:before { content: '\e843'; } /* '' */
.icon-sort-name-down:before { content: '\e844'; } /* '' */
.icon-sort-number-up:before { content: '\e845'; } /* '' */
.icon-sort-number-down:before { content: '\e846'; } /* '' */
.icon-sitemap:before { content: '\e847'; } /* '' */
.icon-anchor:before { content: '\e848'; } /* '' */
.icon-undo:before { content: '\e849'; } /* '' */
.icon-up-open:before { content: '\e84a'; } /* '' */
.icon-block:before { content: '\e84b'; } /* '' */
.icon-doc-remove:before { content: '\e84c'; } /* '' */
.icon-calendar-outlilne:before { content: '\e84d'; } /* '' */
.icon-chat-alt:before { content: '\e84e'; } /* '' */
.icon-snow:before { content: '\e84f'; } /* '' */
.icon-signal:before { content: '\e850'; } /* '' */
.icon-wrench-1:before { content: '\e851'; } /* '' */
.icon-basket-1:before { content: '\e852'; } /* '' */
.icon-zoom-in:before { content: '\e853'; } /* '' */
.icon-zoom-out:before { content: '\e854'; } /* '' */
.icon-at:before { content: '\e855'; } /* '' */
.icon-thumbs-up:before { content: '\e856'; } /* '' */
.icon-thumbs-down:before { content: '\e857'; } /* '' */
.icon-attach:before { content: '\e858'; } /* '' */
.icon-stackoverflow:before { content: '\e859'; } /* '' */
.icon-file-excel:before { content: '\e85a'; } /* '' */
.icon-file-word:before { content: '\e85b'; } /* '' */
.icon-key:before { content: '\e85c'; } /* '' */
.icon-file-pdf:before { content: '\e85d'; } /* '' */
.icon-ccw:before { content: '\e85e'; } /* '' */
.icon-arrows-cw:before { content: '\e85f'; } /* '' */
.icon-download-alt:before { content: '\e860'; } /* '' */
.icon-ticket:before { content: '\e861'; } /* '' */
.icon-building:before { content: '\e862'; } /* '' */
.icon-h-sigh:before { content: '\e863'; } /* '' */
.icon-medkit:before { content: '\e864'; } /* '' */
.icon-beer:before { content: '\e865'; } /* '' */
.icon-graduation-cap:before { content: '\e866'; } /* '' */
.icon-hammer:before { content: '\e867'; } /* '' */
.icon-smile:before { content: '\e868'; } /* '' */
.icon-frown:before { content: '\e869'; } /* '' */
.icon-waves-outline:before { content: '\e86a'; } /* '' */
.icon-search-1:before { content: '\e86b'; } /* '' */
.icon-heart:before { content: '\e86c'; } /* '' */
.icon-music-outline:before { content: '\e86d'; } /* '' */
.icon-user-delete-outline:before { content: '\e86e'; } /* '' */
.icon-login:before { content: '\e86f'; } /* '' */
.icon-logout:before { content: '\e870'; } /* '' */
.icon-th-large:before { content: '\e871'; } /* '' */
.icon-th:before { content: '\e872'; } /* '' */
.icon-cog-1:before { content: '\e873'; } /* '' */
.icon-cog-alt:before { content: '\e874'; } /* '' */
.icon-wrench-2:before { content: '\e875'; } /* '' */
.icon-shuffle-1:before { content: '\e876'; } /* '' */
.icon-chart-bar:before { content: '\e877'; } /* '' */
.icon-lock-open:before { content: '\e878'; } /* '' */
.icon-lock:before { content: '\e879'; } /* '' */
.icon-wifi:before { content: '\e87a'; } /* '' */
.icon-picture-outline:before { content: '\e87b'; } /* '' */
.icon-print-1:before { content: '\e87c'; } /* '' */
.icon-hash:before { content: '\e87d'; } /* '' */
.icon-theatre:before { content: '\e87e'; } /* '' */
.icon-toilet:before { content: '\e87f'; } /* '' */
.icon-exchange-1:before { content: '\e880'; } /* '' */
.icon-fax:before { content: '\e881'; } /* '' */
.icon-briefcase:before { content: '\e882'; } /* '' */
.icon-inbox:before { content: '\e883'; } /* '' */
.icon-euro:before { content: '\e884'; } /* '' */
.icon-pound:before { content: '\e885'; } /* '' */
.icon-dollar:before { content: '\e886'; } /* '' */
.icon-dollar-1:before { content: '\e887'; } /* '' */
.icon-hdd:before { content: '\e888'; } /* '' */
.icon-megaphone:before { content: '\e889'; } /* '' */
.icon-bank:before { content: '\e88a'; } /* '' */
.icon-recycle:before { content: '\e88b'; } /* '' */
.icon-joomla:before { content: '\e88c'; } /* '' */
.icon-pagelines:before { content: '\e88d'; } /* '' */
.icon-twitter:before { content: '\e88e'; } /* '' */
.icon-pin-outline:before { content: '\e88f'; } /* '' */
.icon-reply-outline:before { content: '\e890'; } /* '' */
.icon-bell:before { content: '\e891'; } /* '' */
.icon-resize-full-1:before { content: '\e892'; } /* '' */
.icon-resize-small:before { content: '\e893'; } /* '' */
.icon-water:before { content: '\e894'; } /* '' */
.icon-bucket:before { content: '\e895'; } /* '' */
.icon-tags:before { content: '\e896'; } /* '' */
.icon-bookmark:before { content: '\e897'; } /* '' */
.icon-flag:before { content: '\e898'; } /* '' */
.icon-thumbs-up-2:before { content: '\e899'; } /* '' */
.icon-thumbs-down-2:before { content: '\e89a'; } /* '' */
.icon-forward-outline:before { content: '\e89b'; } /* '' */
.icon-address:before { content: '\e89c'; } /* '' */
.icon-vcard:before { content: '\e89d'; } /* '' */
.icon-warning-empty:before { content: '\e89e'; } /* '' */
.icon-bell-1:before { content: '\e89f'; } /* '' */
.icon-folder-add:before { content: '\e8a0'; } /* '' */
.icon-folder-delete:before { content: '\e8a1'; } /* '' */
.icon-looped-square-outline:before { content: '\e8a2'; } /* '' */
.icon-dribbble:before { content: '\e8a3'; } /* '' */
.icon-twitter-1:before { content: '\e8a4'; } /* '' */
.icon-target:before { content: '\e8a5'; } /* '' */
.icon-aperture:before { content: '\e8a6'; } /* '' */
.icon-calendar-alt:before { content: '\e8a7'; } /* '' */
.icon-share:before { content: '\e8a8'; } /* '' */
.icon-trash-1:before { content: '\e8a9'; } /* '' */
.icon-doc-1:before { content: '\e8aa'; } /* '' */
.icon-docs:before { content: '\e8ab'; } /* '' */
.icon-doc-text-1:before { content: '\e8ac'; } /* '' */
.icon-flag-checkered:before { content: '\e8ad'; } /* '' */
.icon-unlink:before { content: '\e8ae'; } /* '' */
.icon-link-ext:before { content: '\e8af'; } /* '' */
.icon-link:before { content: '\e8b0'; } /* '' */
.icon-lock-1:before { content: '\e8b1'; } /* '' */
.icon-lock-open-1:before { content: '\e8b2'; } /* '' */
.icon-bookmark-empty:before { content: '\e8b3'; } /* '' */
.icon-bookmark-1:before { content: '\e8b4'; } /* '' */
.icon-tags-1:before { content: '\e8b5'; } /* '' */
.icon-tag-1:before { content: '\e8b6'; } /* '' */
.icon-eye:before { content: '\e8b7'; } /* '' */
.icon-pin:before { content: '\e8b8'; } /* '' */
.icon-users:before { content: '\e8b9'; } /* '' */
.icon-user:before { content: '\e8ba'; } /* '' */
.icon-lightbulb:before { content: '\e8bb'; } /* '' */
.icon-umbrella:before { content: '\e8bc'; } /* '' */
.icon-leaf:before { content: '\e8bd'; } /* '' */
.icon-superscript:before { content: '\e8be'; } /* '' */
.icon-filter:before { content: '\e8bf'; } /* '' */
.icon-magic:before { content: '\e8c0'; } /* '' */
.icon-eraser:before { content: '\e8c1'; } /* '' */
.icon-cubes:before { content: '\e8c2'; } /* '' */
.icon-cube:before { content: '\e8c3'; } /* '' */
.icon-spoon:before { content: '\e8c4'; } /* '' */
.icon-paw:before { content: '\e8c5'; } /* '' */
.icon-building-filled:before { content: '\e8c6'; } /* '' */
.icon-bomb:before { content: '\e8c7'; } /* '' */
.icon-lightbulb-1:before { content: '\e8c8'; } /* '' */
.icon-emo-thumbsup:before { content: '\e8c9'; } /* '' */
.icon-emo-cry:before { content: '\e8ca'; } /* '' */
.icon-emo-unhappy:before { content: '\e8cb'; } /* '' */
.icon-emo-happy:before { content: '\e8cc'; } /* '' */
.icon-emo-angry:before { content: '\e8cd'; } /* '' */
.icon-emo-surprised:before { content: '\e8ce'; } /* '' */
.icon-emo-coffee:before { content: '\e8cf'; } /* '' */
.icon-beaker:before { content: '\e8d0'; } /* '' */
.icon-key-1:before { content: '\e8d1'; } /* '' */
.icon-flight:before { content: '\e8d2'; } /* '' */